<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972011087960-ktpvjae7kc8c8fmpode8h5rm8hodh615.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972011087960-ktpvjae7kc8c8fmpode8h5rm8hodh615</string>
	<key>API_KEY</key>
	<string>AIzaSyDcKEGIi9nN-q_GaWqa_kcZrD7F2dds9Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>972011087960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koo.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-aceaa</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-aceaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972011087960:ios:84d50e588736bf51b9022d</string>
</dict>
</plist>